* {
    margin: 0;
    padding: 0;
}

/* shared style */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* dark 2 */

.primary-color {
    color: #FF900E;
}

.text-gray {
    color: #424242;
}

/* dark 3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn {
    background-color: #FF900E;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.font-normal {
    font-weight: 500 !important;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


/* header style */
header {
    height: auto;
}



.banner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.banner-content {
    max-width: 850px;
    margin: 50px auto;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.banner-description {
    margin-top: 20px;
}

.banner-image {
    width: 75%;
}

/* nav-bar style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding-top: 30px;
}

.nav-link {
    display: flex;
    gap: 40px;
}

.nav-link > li {
    list-style-type: none;
}

.nav-link a {
    text-decoration: none;
    font-weight: 500;
}

.brand {
    font-size: 2rem;
    cursor: pointer;
}


/*---------- main section -----------*/

/* team section */

.team-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: 50px auto;
}

.team-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    flex: 1;
}

.team-content {
    flex: 1;
}

.team-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* feature section */

.feature-section {
    display: flex;
    width: 80%;
    margin: 100px auto 50px auto;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.feature-content {
    width: 50%;
}

.feature-img-content {
    width: 50%;
}

.feature-img-content img {
    width: 100%;
}

.feature-title {
    border-left: solid 5px #FF900E;
    padding: 0 15px;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #131313;
}


.feature-card {
    padding: 25px 30px;
    box-shadow:  0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
}



.experience-card {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 30px;
    display: inline-block;
    text-align: center;
    margin-left: -70px;
    margin-top: -70px;
    z-index: 1;
}

.feature-card-title {
    margin-bottom: 10px;
}

.year-data {
    font-size: 2.2rem;
}

/* fact section */

.fact-section {
    width: 80% ;
    margin: 0 auto;
}

.fact-box {
    display: grid;
    grid-template-columns: repeat(4, auto);   
    justify-content: space-around;
    align-items: center;
    margin: 30px 0; 
}

.fact-item {
    border: solid 1px #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fact-content {
    width: 45%;
}


.fact-item > img {
    width: 35px;
    height: 35px;
}

.fact-tag {
    font-size: 1.5rem;
}

.fact-item-description {
    font-weight: 600;
}


/* sponsore section */

.sponsor-section {
    text-align: center;
    margin: 70px 0;
}

.sponsor-content {
    max-width: 540px;
    margin: 40px auto;
}

.sponsor-box {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.sponsor-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.sponsor-icon {
    filter: grayscale(1);
    width: 120px;
}

/* footer section */

.copyright-section {
    width: 80%;
    background-color: #FFF4E7;
    padding: 30px 40px;
    margin: 40px auto;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 8px;
}


/* Responsive Media Query */

/* header section */

@media screen and (max-width: 576px) {
    nav, .nav-link {
        flex-direction: column;
    }

    /* team section */

    .team-section {
        flex-direction: column-reverse;
        width: 100%;
    }

    .team-image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        text-align: center;
        margin: 0 15px;
    }

    /* feature section */

    .feature-section {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }


    .feature-content {
    width: 80%;
}

    .feature-img-content {
    width: 80%;
    }

    .experience-card {
        display: block;
    margin: 10px auto;
    }



    /* fact section */

    .fact-box {
        grid-template-columns: repeat(1, auto);
        gap: 20px;
    }

    .fact-content {
        width: 100%;
        text-align: center;
    }

    /* sponsor section */

    .sponsor-box {
        grid-template-columns: repeat(1, auto);
        gap: 40px;
        justify-content: center;
    }
    
}

/* medium size device */

@media screen and (min-width:576px) and (max-width:992px){
    .team-section {
        flex-direction: column-reverse;
        width: 100%;
    }

    .team-content {
        text-align: center;
        margin: 0 15px;
    }

    .fact-box {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        justify-content: center;
    }

    .fact-content {
        width: 100%;
        text-align: center;
    }

    .sponsor-box {
        grid-template-columns: repeat(3, auto);
        gap: 40px;
        justify-content: center;
    }

    .feature-section {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }


    .feature-content {
    width: 80%;
}

    .feature-img-content {
    width: 80%;
    }

    .experience-card {
    margin: -70px auto 0 auto;
    }
}